<html>
	<head>
		<link href="normalize.css" rel="stylesheet" />
		<link href="skeleton.css" rel="stylesheet" />
		<link href="styles.css" rel="stylesheet" />
		<script src="jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>
				<%- message %>
			</h1>
			<input type="text" id="score" name="Score"/>
			<button id="btn">Click Me</button>
			<script src="./app.js"></script>
		</div>
	</body>
</html>