<html>
	<head>
		<link href="normalize.css" rel="stylesheet" />
		<link href="skeleton.css" rel="stylesheet" />
		<link href="styles.css" rel="stylesheet" />
		<script src="jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1><%- message %></h1>
			<label>Please think of a number.... Any Number...</label>
			<label>Submit your results and receive your ranking...</label>
			<input type="text" id="score" name="Score"/>
			<button id="btn">Transmit results</button>
			<br/>
			<label id="scoreLabel"></label>
			<script src="./app.js"></script>
		</div>
	</body>
</html>